<section class="login-page py-5">
    <div class="container">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto shadow-lg rounded p-4 bg-body-secondary">
            <div class="form-title text-center mb-3">
                <h3>Employee Management System</h3>
                <span>Enter your credentials to login</span>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="SubmitLoginForm()">
                <!-- Email Input -->
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input formControlName="email" type="email" name="email" id="email" class="form-control"
                        placeholder="ahmedshaaban@gmail.com" />
                    @if (loginForm.get('email')?.errors && (loginForm.get('email')?.touched ||
                    loginForm.get('email')?.dirty)) {
                    <div class="alert alert-danger mt-2 py-1 px-2">
                        @if (loginForm.get('email')?.getError('required')) {
                        <span>Email is required</span>
                        }@else if (loginForm.get('email')?.getError('email')) {
                        <span>Enter valid Email</span>
                        }
                    </div>
                    }
                </div>

                <!-- Password Input -->
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input formControlName="password" type="password" name="password" id="password" class="form-control"
                        placeholder="*******" />
                    @if (loginForm.get('password')?.errors && (loginForm.get('password')?.touched ||
                    loginForm.get('password')?.dirty)) {
                    <div class="alert alert-danger mt-2 py-1 px-2">
                        @if (loginForm.get('password')?.getError('required')) {
                        <span>Password is required</span>
                        }@else if (loginForm.get('password')?.getError('pattern')) {
                        <span>Password must be "admin"</span>
                        }
                    </div>
                    }
                </div>

                <!-- Submit Button -->
                <button [disabled]="loginForm.invalid || isLoading" class="btn btn-info w-100 mb-3">
                    Login
                    @if (isLoading) {
                    <i class="fas fa-spinner fa-spin ms-2"></i>
                    }
                </button>

                <!-- Demo Note -->
                <div class="form-note text-center">
                    <p class="m-0">
                        <span class="fw-semibold">Demo credentials:</span>
                        any email with password "admin"
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>