<section class="login-page">
    <div class="container">
        <div class="w-50 mx-auto shadow-lg rounded p-3 bg-body-secondary">
            <div class="form-title d-flex justify-content-center align-items-center flex-column">
                <h3>Employee Management System</h3>
                <span>Enter your credentials to login</span>
            </div>

            <form>
                <div class="my-2">
                    <label for="email">Email :</label>
                    <input type="email" name="email" id="email" class="form-control mt-1" placeholder="ahmedshaaban@gmail.com">
                </div>
                <div class="my-2">
                    <label for="password">Password :</label>
                    <input type="password" name="password" id="password" class="form-control mt-1" placeholder="*******">
                </div>

                <button class="btn btn-info mt-3 d-block w-100">
                    Login
                </button>

                <div class="form-note d-flex justify-content-center align-items-center mt-3">
                    <p class="m-0"><span class="fw-semibold">Demo credentials:</span> any email with password "admin"</p>
                </div>
            </form>
        </div>
    </div>
</section>