.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(128, 128, 128, 0.25);
    border-color: gray;
}

@media (max-width: 768px) {

    .table td,
    .table th {
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    .modal-dialog {
        margin: 0.5rem auto;
    }

    .table td,
    .table th {
        padding: 0.3rem;
        font-size: 0.8rem;
    }

    .btn {
        padding: 0.25rem 0.5rem;
    }
}